[submodule "doom/src/main/jni/jpeg8d"]
	path = doom/src/main/jni/jpeg8d
	url = https://github.com/nvllsvm/jpeg8d.git
[submodule "doom/src/main/jni/openal-soft-android"]
	path = doom/src/main/jni/openal-soft-android
	url = https://github.com/nvllsvm/openal-soft-android.git
[submodule "doom/src/main/jni/gzdoom"]
	path = doom/src/main/jni/gzdoom
	url = https://github.com/coelckers/gzdoom.git
[submodule "doom/src/main/jni/MobileTouchControls"]
	path = doom/src/main/jni/MobileTouchControls
	url = https://github.com/nvllsvm/MobileTouchControls.git
