.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
/blakestone
/doom/build
/doom/.externalNativeBuild
/TouchControls/build
/doom/src/main/libs
/doom/src/main/obj
